Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [16]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-01-22 14:37:30--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.36.78
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.36.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  46.0MB/s    in 4.7s

2020-01-22 14:37:35 (42.0 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [17]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [18]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01/instacart_2017_05_01

In [19]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
##### YOUR CODE HERE #####
import pandas as pd
import numpy as np
df1 = pd.read_csv('aisles.csv')
df2 = pd.read_csv('departments.csv')
df3 = pd.read_csv('order_products__prior.csv')
df4 = pd.read_csv('order_products__train.csv')
df5 = pd.read_csv('orders.csv')
df6 = pd.read_csv('products.csv')

In [21]:
df1.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [22]:
df2.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [23]:
df3.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [24]:
df4.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [25]:
df5.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [26]:
df6.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [0]:
# I need the following: product_id, reordered, product_name
# These are found in df6 and df3 (I assuem df4 is just a training b)

In [28]:
# I am trying to figure out the diff between 'order_products__prior.csv'and 
# 'order_products__train.csv'.  The explanations on 
# https://www.kaggle.com/c/instacart-market-basket-analysis/data isn't helpful. 
# In the real world, I'd follow up with the product owner to see if they can 
# explain the different to me.  But here, I am going to take the largest data 
# base. 
print(df4.shape)

(1384617, 4)

In [30]:
print(df3.shape)

(32434489, 4)

In [31]:
# I am going to use 'order_products__prior.csv because its shape is larger and contains more data. 
# I need to merge df3 and df6 based on product_id
# I am going to use an inner join. 
df7 = pd.merge(df3, df6, on='product_id', how='inner')
df7.head()

   order_id  product_id  ...  aisle_id  department_id
0         2       33120  ...        86             16
1        26       33120  ...        86             16
2       120       33120  ...        86             16
3       327       33120  ...        86             16
4       390       33120  ...        86             16

[5 rows x 7 columns]

In [41]:
df8 = pd.pivot_table(df7, values='reordered', index='product_name', columns=None, aggfunc=np.sum)
df8.head(100)

                                        reordered
product_name
#2 Coffee Filters                             257
#2 Cone White Coffee Filters                    3
#2 Mechanical Pencils                           0
#4 Natural Brown Coffee Filters                89
& Go! Hazelnut Spread + Pretzel Sticks         87
...                                           ...
100 Calorie Ritz Snnack Mix Packs              58
100 Calorie Vanilla Ice Cream Bar              16
100 Calorie Vanilla Roast Almonds               2
100 Calorie Variety Pack Ice Cream Bar          9
100 Calorie Variety Sack                       45

[100 rows x 1 columns]

In [73]:
df8.sort_values(by=['reordered'], ascending=False)

                             reordered
product_name
Banana                          398609
Bag of Organic Bananas          315913
Organic Strawberries            205845
Organic Baby Spinach            186884
Organic Hass Avocado            170131
...                                ...
Decorating Green Cake Icing          0
Lemon Ice Tea Liquid                 0
Decorating Gel, Red                  0
Decorating Gel White                 0
Cld/Flu Van Chrry                    0

[49677 rows x 1 columns]

In [0]:
pd.set_option("display.max_rows",150)

In [75]:
df8.sort_values(by=['reordered'], ascending=False)

                             reordered
product_name
Banana                          398609
Bag of Organic Bananas          315913
Organic Strawberries            205845
Organic Baby Spinach            186884
Organic Hass Avocado            170131
...                                ...
Decorating Green Cake Icing          0
Lemon Ice Tea Liquid                 0
Decorating Gel, Red                  0
Decorating Gel White                 0
Cld/Flu Van Chrry                    0

[49677 rows x 1 columns]

In [76]:
pd.get_option("display.max_rows")

150

In [80]:
# I am not sure why I can only see the first 5 and last 5 rows above. 
df8.sort_values(by=['reordered'], ascending=False).head(15)
# My order is different. Does that mean I've made a mistake?

                        reordered
product_name
Banana                     398609
Bag of Organic Bananas     315913
Organic Strawberries       205845
Organic Baby Spinach       186884
Organic Hass Avocado       170131
Organic Avocado            134044
Organic Whole Milk         114510
Large Lemon                106255
Organic Raspberries        105409
Strawberries                99802
Limes                       95768
Organic Yellow Onion        79072
Organic Garlic              74663
Organic Zucchini            72165
Cucumber Kirby              67313

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

In [0]:
# table2 -> tidy

In [0]:
# tidy -> table2

In [0]:
flights = sns.load_dataset('flights')

In [0]:
# Flights Pivot Table

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####